{% load static thumbnail %}
<div class="product clearfix{% if bottom_margin %} bottommargin-{{ bottom_margin }}{% endif %}">
    <div class="product-image">
        <a href="{{ product.get_absolute_url }}">
            {% thumbnail product.get_default_photo.file "440x586" crop="center" as im %}
                <img src="{{ im.url }}" alt="{{ photo.description }}">
            {% empty %}
                <img src="{% static 'images/no-image.png' %}" alt="{{ product.description }}">
            {% endthumbnail %}
        </a>
{#                                <div class="sale-flash">50% Off*</div>#}
        <div class="product-overlay">
{#                                    <a href="#" class="add-to-cart"><i class="icon-shopping-cart"></i><span> Add to Cart</span></a>#}
{#                                    <a href="include/ajax/shop-item.html" class="item-quick-view" data-lightbox="ajax"><i class="icon-zoom-in2"></i><span> Visualizar</span></a>#}
        </div>
    </div>
    <div class="product-desc">
        <div class="product-title"><h3><a title="{{ product.name }}" href="{{ product.get_absolute_url }}">{{ product.name }}</a></h3></div>
        <div class="product-price">
            {% include 'catalogue/_product_price.html' with product=product %}
        </div>
        <p>{{ product.description }}</p>
    </div>
</div>