{% load static thumbnail sekizai_tags %}
{% if products %}
<h4>Produtos relacionados</h4>

<div class="oc-product owl-carousel product-carousel">
    {% for product in products %}
    <div class="oc-item">
        <div class="product iproduct clearfix">
            <div class="product-image">
                {% with photo=product.photo_set.all|first %}
                    {% thumbnail photo.file "193x256" crop="center" as im %}
                        <img src="{{ im.url }}" alt="{{ photo.description }}">
                    {% empty %}
                        <img src="{% static 'images/no-image.png' %}" alt="{{ product.description }}">
                    {% endthumbnail %}
                {% endwith %}
                <div class="sale-flash">50% Off*</div>
                <div class="product-overlay">
                    <a href="#" class="add-to-cart"><i class="icon-shopping-cart"></i><span> Add to Cart</span></a>
                    <a href="include/ajax/shop-item.html" class="item-quick-view" data-lightbox="ajax"><i class="icon-zoom-in2"></i><span> Quick View</span></a>
                </div>
            </div>
            <div class="product-desc center">
                <div class="product-title"><h3><a href="#">Checked Short Dress</a></h3></div>
                <div class="product-price"><del>$24.99</del> <ins>$12.49</ins></div>
                <div class="product-rating">
                    <i class="icon-star3"></i>
                    <i class="icon-star3"></i>
                    <i class="icon-star3"></i>
                    <i class="icon-star3"></i>
                    <i class="icon-star-half-full"></i>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% addtoblock "js" %}
<script type="text/javascript">

    jQuery(document).ready(function($) {

        var ocProduct = $(".oc-product");

        ocProduct.owlCarousel({
            margin: 30,
            nav: true,
            navText : ['<i class="icon-angle-left"></i>','<i class="icon-angle-right"></i>'],
            autoplayHoverPause: true,
            dots: false,
            responsive:{
                0:{ items:1 },
                480:{ items:2 },
                768:{ items:3 },
                992:{ items:4 }
            }
        });

    });

</script>
{% endaddtoblock %}
{% endif %}